<div id="dashboard">

  <table id="toolbar">
    <tr>
      <td>
        <form class="form-inline" role="search" onsubmit="$(':focus').blur()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="searching.input"/>
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" ng-click="search(searching.input)"
                      ng-disabled="!searching.input"><i
                class="glyphicon glyphicon-search"></i></button>
              <button class="btn btn-default" type="submit" ng-click="clearSearch()" ng-disabled="!searching.term"><i
                class="glyphicon glyphicon-remove"></i></button>
            </div>
          </div>
        </form>
      </td>
      <td>
        {{pagination.total}} <ng-pluralize count="pagination.total" when="{'1': 'item', 'other': 'items'}"/>
      </td>
      <td>
        <div class="btn-toolbar" role="toolbar">
          <button type="button" class="btn btn-default" ng-click="refresh()"><i
            class="glyphicon glyphicon-refresh"></i></button>
        </div>
      </td>
      <td>
        <uib-pagination
          boundary-links="true"
          direction-links="true"
          rotate="false"
          total-items="pagination.total"
          ng-model="pagination.page"
          items-per-page="pagination.size"
          max-size="5"
          class="pagination"
          ng-change="pageChanged(pagination.page)"
          first-text=&#8676;
          previous-text=&larr;
          next-text=&rarr;
          last-text=&#8677;>
        </uib-pagination>
      </td>
    </tr>
  </table>

  <table id="stores" cellspacing="0" width="100%"
         class="table table-striped table-bordered table-responsive table-hover dt-responsive">
    <thead>
    <tr>
      <th>
        <b>Timestamp</b>
          <span class="sort-buttons">
            <span ng-click="sort('timestamp', 'desc');" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-click="sort('timestamp', 'asc');" class="glyphicon glyphicon-triangle-top"></span>
          </span>
      </th>
      <th>
        <b>Project</b>
        <span class="sort-buttons">
          <span ng-click="sort('projectKey', 'desc');" class="glyphicon glyphicon-triangle-bottom"></span>
          <span ng-click="sort('projectKey', 'asc');" class="glyphicon glyphicon-triangle-top"></span>
        </span>
      </th>
      <th>
        <b>Error</b>
      </th>
      <th>
        <b>Session ID</b>
      </th>
      <th>
        <b>Reviewed</b>
          <span class="sort-buttons">
            <span ng-click="sort('status', 'desc');" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-click="sort('status', 'asc');" class="glyphicon glyphicon-triangle-top"></span>
          </span>
      </th>
      <th>
        <b>Details</b>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
      <td class="fit">{{item.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      <td class="fit">{{item.projectKey}}</td>
      <td class="fill" ng-repeat="error in item.errors">
        <div title="{{error.message}}">{{error.message}}</div>
      </td>
      <td class="fit">{{item.sessionData.sessionId}}</td>
      <td class="fit" style="text-align: center">
        <input type="checkbox" ng-model="item.status" ng-change="updateStatus(item)">
      </td>
      <td class="fit" style="text-align: center">
        <a ng-href="#/details/{{item.id}}">
          <span class="glyphicon glyphicon-zoom-in"></span>
        </a>
      </td>
    </tr>

    </tbody>
  </table>

</div>

