<div id="details">
  <uib-tabset>

    <uib-tab heading="Log Entry">
      <table id="logentry" class="table table-hover">
        <tr>
          <td>Correlation ID</td>
          <td>{{logEntry.correlationId}}</td>
        </tr>
        <tr>
          <td>Timestamp</td>
          <td>{{logEntry.timestamp | date: 'EEE, d. MMMM yyyy HH:mm:ss.sss Z'}}</td>
        </tr>
        <tr>
          <td>Project Key</td>
          <td>{{logEntry.projectKey}}</td>
        </tr>
        <tr>
          <td>Project Version</td>
          <td>{{logEntry.projectVersion}}</td>
        </tr>
        <tr>
          <td>Reviewed</td>
          <td><input type="checkbox" ng-model="logEntry.status" ng-change="updateStatus()"></td>
        </tr>
      </table>
    </uib-tab>

    <uib-tab heading="Errors">
      <div id="errors" ng-repeat="error in logEntry.errors">
        <div class="panel panel-default">
          <div class="panel-heading">{{error.message}}</div>
          <button class="btn btn-default" clipboard text="json.errors[$index]" on-error="copyFailed(err)">Copy</button>
          <div class="panel-body">{{error | json}}</div>
        </div>
      </div>
    </uib-tab>

    <uib-tab heading="Parameters">
      <button class="btn btn-default" clipboard text="json.parameters" on-error="copyFailed(err)">Copy</button>
      <pre>{{json.parameters}}</pre>
    </uib-tab>

    <uib-tab heading="Session">
      <button class="btn btn-default" clipboard text="json.session" on-error="copyFailed(err)">Copy</button>
      <pre>{{json.session}}</pre>
    </uib-tab>

    <uib-tab heading="Notifier">
      <button class="btn btn-default" clipboard text="json.notifier" on-error="copyFailed(err)">Copy</button>
      <pre>{{json.notifier}}</pre>
    </uib-tab>

    <uib-tab heading="Context">
      <button class="btn btn-default" clipboard text="json.context" on-error="copyFailed(err)">Copy</button>
      <pre>{{json.context}}</pre>
    </uib-tab>

    <uib-tab heading="Environment">
      <button class="btn btn-default" clipboard text="json.environment" on-error="copyFailed(err)">Copy</button>
      <pre>{{json.environment}}</pre>
    </uib-tab>

  </uib-tabset>
</div>
