<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <div th:fragment="header">



              <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                            <ul class="nav navbar-nav">
                                <li><a href="#" th:href="@{/products}">Products</a></li>
                                <li><a href="#" th:href="@{/product/new}">Create Product</a></li>
                                <li><a href="#" th:href="@{/console}" target="_blank">h2 console</a></li>
                            </ul>
                        </div>
                        <div class="row text-right" th:if="${@environment.getActiveProfiles()[0] != 'production'}">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="#{i18n.language}"></span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/?lang=de"><span th:text="#{i18n.locale.german}"></span></a></li>
                                        <li><a href="/?lang=en"><span th:text="#{i18n.locale.english}"></span></a></li>


                                    </ul>
                                </li>
                            </ul>
                            <span class="hidden" th:text="${@environment.getProperty('info.app.version')}"></span>
                        </div>
                    </div>
                </nav>

        <br/>

    </div>
</div>
</body>
</html>