<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Logging store</title>
    <meta charset='utf-8'/>
    <meta name='description' content=''/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link rel='stylesheet' href='styles/vendor.css'/>
    <link rel='stylesheet' href='styles/leaf.css'/>
</head>

<body>
<div th:fragment="content" class="container" id="loginpage">
    <div th:if="${param.logout}" class="alert alert-info" role="alert">
        You have been logged out.
    </div>

    <h1>Please sign in</h1>

    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid username and password.
    </div>

    <form th:action="@{/login}" method="post">

        <input type="text" placeholder="username" name="username" id="userName" class="form-control"/>
        <input type="password" placeholder="password" name="password" id="userPassword" class="form-control"/>
        <button class=" btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
