body {
  padding-top: 70px;
}

.page-header {
  margin-top: 0px;
}

/* navigation bar */

#navbar #profiles {
  text-transform: uppercase;
  cursor: default;
}

/* dashboard */

#dashboard #toolbar {
  width: 100%;
}

#dashboard #toolbar input {
  width: 250px;
}

#dashboard #toolbar td {
  white-space: nowrap;
}

#dashboard #toolbar td:not(:first-child) {
  padding-left: 20px;
}

#dashboard #toolbar td:last-child {
  width: 100%;
  text-align: right;
}

#dashboard #stores {
  table-layout: auto;
}

#dashboard #stores th {
  vertical-align: top;
}

#dashboard #stores th b {
  display: block;
  white-space: nowrap;
}

#dashboard #stores .sort-buttons {
  display: block;
  white-space: nowrap;
}

#dashboard #stores .sort-buttons .glyphicon {
  cursor: pointer;
}

#dashboard #stores td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40em;
}

#dashboard #stores td.fill div {
  max-height: 1.42857143em; /* line-height of td */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#dashboard #stores .glyphicon-zoom-in {
  color: #333;
}

.badge .glyphicon-remove {
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}

/* details page */

#details .tab-content {
  padding-top: 1em;
}

#details #logentry tr:first-child td {
  border-top: 0px;
}

#details #logentry td:first-child {
  white-space: nowrap;
  color: #777;
}

#details #logentry td:last-child {
  width: 100%;
}

#details .tab-pane {
  position: relative;
}

#details .tab-pane button[clipboard] {
  position: absolute;
  right: 0px;
  border-radius: 0px 4px;
  font-size: small;
  color: #777;
}

#details .tab-pane .panel button[clipboard] {
  right: 1px;
  border-top: 0px;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-color: #ddd;
}

#details #errors .panel-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

#details #errors .panel-body {
  white-space: pre-wrap;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#details #errors .panel-body:before, #details #errors .panel-body:after {
  content: normal;
}

/* login page */

#loginpage {
  text-align: center;
}

#loginpage > * , #loginpage form > * {
  max-width: 300px;
  margin: 0.7em auto;
}
